
# Ignore .idea folder at the root and in any subdirectories
**/.idea/

.idea/

# Ignore all .iml files (used by IntelliJ IDEA for project configuration)
*.iml



# Ignore any .gitignore file in any directory
**/.gitignore


