
# Ignore all .idea folders, regardless of their location
**/.idea/

# Ignore all .iml files (used by IntelliJ IDEA for project configuration)
*.iml



# Ignore any .gitignore file in any directory
**/.gitignore


